/* shared styles */

.text-color {
  color: rgba(19, 19, 24, 0.7);
  font-size: 2rem;
  font-weight: 400;
}

.primary-btn {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
}

.all-heading {
  color: #131318;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
}

/* Header Section */

/* header {
  padding: 63px auto;
} */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 44px;
  font-weight: 500;
  font-size: 1.12rem;
  color: #424247;
}
.home {
  color: #ff5400;
}
.logo {
  display: flex;
}
.nav-title {
  font-size: 36px;
}
.title-span {
  color: #ff5400;
}
.menubar {
  display: none;
}
/* maim */

main {
  padding: 63px auto;
}

/* Banner-Section */

.banner {
  display: flex;
  margin-left: 256px;
  background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-size: cover;
  position: relative;
  width: 80%;
  height: 746px;
  border-radius: 16px;
  background-color: rgba(29, 29, 31, 0);
  flex-shrink: 0;
}
/* .banner-img {
  margin-top: 50px;
  margin-left: 140px;
  margin-right: 140px;
} */
.overlay {
  width: 100%;

  display: flex;

  justify-content: center;
  background-color: rgb(7 2 17 / 46%);
  align-items: center;
  font-family: Merriweather;
  font-size: 2rem;
  padding-top: 50px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  color: white;
  border-radius: 16px;
}

.banner-discription {
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  line-height: 26px;
}

.overlay1 {
  width: 100%;
  background-color: rgb(255 255 255 / 37%);
  align-items: center;
  font-family: Merriweather;
  font-size: 2rem;
  padding-top: 50px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  color: white;
}
.banner-input {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

/* Tour Description */

.tour-discription {
  display: flex;
  justify-content: space-between;
  margin-left: 256px;
  width: 80%;

  margin-top: 50px;
}
.tour-text {
  height: 100%;
  width: 50%;
}

.tour-img {
  width: 100%;
  height: 800px;
}

/* destination-description */
.destination-description {
  margin: 115px;
}

.destination-text {
  text-align: center;
}
.destination-img {
  text-align: center;
  width: 80%;
}

.collage {
  display: flex;
  gap: 25px;
  padding: 20px;
}

.img1 {
  width: 50%;
}
.img2 {
  width: 32%;
}
.img3 {
  width: 40%;
}
.img4 {
  width: 24%;
}
.img5 {
  width: 34%;
}
.img6 {
  width: 70%;
}
@media screen and (max-width: 576px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-list ul {
    display: flex;
    flex-direction: column;
    margin: 2px;
    justify-content: center;
    align-items: center;
  }
  .nav-list li {
    margin: 30px;
  }
  .tour-discription {
    flex-direction: column;
    justify-content: space-between;
    margin-left: 256px;
    width: 80%;
    gap: 25px;
    margin: 70px auto;
  }

  .tour-img {
    width: 100%;
    height: 350px;
  }
  .text-color {
    font-size: 1rem;
  }
  .tour-heading {
    font-size: 1rem;
  }
  .tour-text {
    height: auto;
    width: auto;
  }
  .collage {
    flex-direction: column;
  }

  .destination-img {
    text-align: center;
    width: 100%;
  }
  .all-heading {
    font-size: 1rem;
  }
  .img1 {
    width: 100%;
  }
  .destination-description {
    margin: 0px;
  }
  .img2,
  .img3,
  .img4,
  .img5,
  .img6 {
    width: 100%;
  }
}
